:root {
  --primary-color: #4fc3f7;
  --secondary-color: #ff7043;
  --gray-color: #f8f9fa;
  --text-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo h1 {
  font-size: 1.2rem;
  color: var(--text-color);
}

header .logo i {
  color: var(--primary-color);
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

header nav a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0.8rem;
  padding: 0 0 0.3rem 0;
}

header nav a:hover {
  border-bottom: 2px solid var(--primary-color);
  width: 80%;
}
